{% extends 'happyCmsBundle::base.html.twig' %}
{% block pageheader %}Мэдээний дэлгэрэнгүй{% endblock %}
{% block body %}
    {% include ':inc:flashmsg.html.twig' %}

    <table class="table table-hover table-striped">
        <tbody>
        <tr>
            <th>Зураг</th>
            <td><img width="100" src="/{{ statfolder }}{{ banner.img }}"></td>
        </tr>
        <tr>
            <td>Гарчиг</td>
            <td>{{ banner.name }}</td>

        </tr>
        <tr>
            <td>Байрлал</td>
            <td>{% if banner.bannerbairlal  %}{{ banner.bannerbairlal.name }} {% else %}{% endif %}</td>
        </tr>
        <tr>
            <th>Start date</th>
            <td>{% if banner.publishDate %}{{ banner.publishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>End date</th>
            <td>{% if banner.endDate %}{{ banner.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Created date</th>
            <td>{% if banner.createdDate %}{{ banner.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updated date</th>
            <td>{% if banner.updatedDate %}{{ banner.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
    <ul style="list-style: none;float: left">
        <li style="float: left">
            <a class="btn btn-success"
               href="{{ path('cms_banner_update', { 'id': banner.id, 'currentRoute' : currentRoute }) }}">Засах</a>
        </li>

        <li style="float: left">
            {{ form_start(delete_form) }}
            <input onclick="if(!confirm('Итгэлтэй байна уу!'))return false;" type="submit" value="Устгах"
                   class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>

    </ul>
    <a style="float: right" href="{{ currentRoute }}">Буцах</a>
{% endblock %}
