{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('recource/css/swiper.min.css') }}" type="text/css" media="screen">
    <style>
        .nav-tabs .nav-link {
            color: #ffffff;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #ffffff;
            background-color: #ff7020;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            color: #ffffff;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
            background-color: #ff7020;
        }

        .nav-justified .nav-item {
            border: 2px solid #ffffff;
            margin-left: 5px;
        }

        .nav-justified .nav-item:hover {
            color: #ffffff;
            background-color: #ff7020;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="medical-search">
            {% include  '@happyWeb/inc/inc-medical-search.html.twig' with {'current': 1, 'type': viewType , 'labTypeIds': labTypeIds} %}
        </div>
        <div class="tab-content">
            <!-- List -->
            <div class="tab-pane fade {% if viewType == 1 %} in show active{% endif %}" id="list"
                 role="tabpanel">
                <div class="container" style="margin-top: 30px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                        {% for m in medical %}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: left;margin-bottom: 25px;">
                                {% include  '@happyWeb/inc/inc-medical.html.twig' with {'detailpage': 1, 'isWifi': m.isWifi, 'isCard': m.isCard , 'isCar': m.isParking, 'headline': m.headline, 'img': m.photo, 'phone': m.phone, 'id': m.id, 'name' : m.name } %}
                            </div>
                        {% endfor %}
                        {% include '@happyWeb/Layout/page.html.twig' with {'route' : 'medicals','type': 1} %}
                    </div>
                </div>
            </div>

            <!-- MAP -->
            <div class="tab-pane fade  {% if viewType == 3 %}in show active{% endif %}" id="map"
                 role="tabpanel">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block js %}
        <script type="text/javascript" src="{{ asset('recource/js/swiper.min.js') }}"></script>
        {% if viewType == 3 %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEyeyQLgmJ_Gv7X-Vs5FcfqoWZ3Nz2cM8"></script>
        {% endif %}

        <script>

            $(document).ready(function () {

                if (window.location.search != '') {
                    $.each($('.pagination a'), function (key, val) {
                        $(this).attr('href', $(this).attr('href') + window.location.search);
                    });
                }

                medicalnum = 11;

                if ($(window).width() > 1072  && $(window).width() <= 1600) {
                    medicalnum = 7;
                } else if ($(window).width() <= 1072 && $(window).width() > 768) {
                    medicalnum = 3;
                }
                else if ($(window).width() <= 768) {
                    medicalnum = 2;
                }

                var swiper = new Swiper('.swipermainmedtype', {
                    slidesPerView: medicalnum,
                    spaceBetween: 5,
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        hide: true
                    },
                    freeMode: true
                });


                $value = $(".selectBox option:selected").text();
                if ($value != '') {
                    defaulttext = $value;
                } else {
                    defaulttext = 'Сонгоно уу...';
                }

                $('.selectDefault').text(defaulttext);

                $('.selectBox').on('change', function () {
                    var selectedText = $(this).find(":selected").text();
                    $('.selectDefault').text(selectedText);
                });


                if (window.location.search != '') {
                    $.each($('.med-menu a'), function (key, val) {
                        $(this).attr('href', $(this).attr('href') + window.location.search);
                    });
                }

                $('input[type="checkbox"]').change(function () {
                    $('#medicalSearch').submit();
                });


                {% if viewType == 3 %}

                var locations = [];

                {% if medical|length > 0 %}

                locations = [
                    {% for m in medical %}
                    ['<div class="papular-post-slider"><div class="papular-reviews"><a href="#"><div class="image"> <img alt="{{ m.name }}" src="/{{ localstatfolder }}{{ m.photo }}" class="img-responsive"><div class="absolute-in-image"><div class="duration"><br><span> Утас: {% set ph = m.phone|split(';') %}{% for p in ph %}{% if loop.first %}{{ p }}{% endif %}{% endfor %}</span></div></div></div><div class="content"><span class="cat"><i class="flaticon-technology-23"></i></span><a href="{{ path('medical_detail', {'id' : m.id}) }}"><h4>{{ m.name }}</h4></a><span>Хаяг: {{ m.address }}</span> </div></div></div></a></div></div>',
                        {% set p = m.longLat|replace({';':','}) %}
                        {{ p }}
                        ,
                        '{{ asset('recource/marker.png') }}'
                    ]
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ];

                {% else %}
                locations = [['<div><p>Үр дүн илэрсэнгүй!</p></div>', 47.918428, 106.917738, '{{ asset('recource/marker.png') }}']];
                {% endif %}

                var styles = [
                    {
                        stylers: [
                            {lightness: 5}
                        ]
                    }
                ];

                var map = new google.maps.Map(document.getElementById('map-canvas'), {
                    scrollwheel: false,
                    styles: styles,
                    center: new google.maps.LatLng(40.771099, -73.94)
                });

                var infowindow = new google.maps.InfoWindow();
                var marker, i;
                var markers = [];
                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: locations[i][3]
                    });
                    markers.push(marker);
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                function AutoCenter() {
                    var bounds = new google.maps.LatLngBounds();

                    $.each(markers, function (index, marker) {
                        bounds.extend(marker.position);
                    });
                    map.fitBounds(bounds);
                    var listener = google.maps.event.addListener(map, "idle", function () {
                        if (map.getZoom() > 6) map.setZoom(13);
                        google.maps.event.removeListener(listener);
                    });
                }

                AutoCenter();

                {% endif %}
            });
        </script>
    {% endblock %}