{% extends '@happyCms/base.html.twig' %}
{% block pageheader %} Дуудлагын жагсаалт{% endblock %}

{% block style %}
    <style>
        ul li {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block body %}
    {% include ':inc:flashmsg.html.twig' %}
    <ul style="list-style: none;padding: 0;">
        <li>
            <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
        </li>
    </ul>

    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{% endif %}" id="searchpad">
        {% include '@happyCms/inc/search.html.twig' with {'route' : 'cms_nurse_log_index'} %}
    </fieldset>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Invoice Id</th>
            <th>Дуудлага өгсөн дугаар</th>
            <th>Мөнгөн дүн</th>
            <th>Төлбөр төлсөн эсэх</th>
            <th>Үйлчилгээний төрөл</th>
            <th>Дуудлага өгсөн огноо</th>
            <th>Төлбөр төлсөн огноо</th>
        </tr>
        </thead>
        <tbody>
        {% for con in doctorlog %}
            <tr>
                <td>{{ con.id }}</td>
                <td>{{ con.phoneNumber }}</td>
                <td>{{ con.amount }}₮</td>
                <td>{% if con.status == 'done' %} <p style="color: green">төлөгдсөн</p> {% else %}<p style="color: orange">хүлээгдэж байгаа</p> {% endif %}</td>
                <td>
                    {{ con.doctorType.name }}
                </td>
                <td>{{ con.createdDate|date('Y-m-d H:i:s') }}</td>
                <td>{% if con.updatedDate %}{{ con.updatedDate|date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@happyCms/inc/page.html.twig' with {'route' : 'cms_nurse_log_index'} %}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchlink').click(function () {
                $('#searchpad').toggle();
            });
        });
    </script>
{% endblock %}
