{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="container" style="text-align: center;margin-bottom: 30px;margin-top: 110px;">


            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">
                    <div class="home-header">
                        <h4><i class="fa fa-heartbeat"></i> Цахим эмч</h4>
                    </div>
                    <h5 style="margin-top: 30px; margin-bottom: 30px">Та доорх асуултуудаас сонгоно уу.</h5>
                    {% for key, q in answers %}
                        {% if q.isLast == 1 %}
                            <img src="{{ asset('recource/tick.png') }}"
                                 style="width: 150px;margin-bottom: 40px;margin-top: 30px">
                            <p style="font-size: 24px;"> {{ q.descr }}</p>

                            {% if q.photo %}
                                <img src="/{{ localstatfolder }}{{ q.photo }}"
                                     style="width: 50%;margin-bottom: 40px;margin-top: 30px">
                            {% endif %}

                            {% if q.photo2 %}
                                <img src="/{{ localstatfolder }}{{ q.photo2 }}"
                                     style="width: 50%;margin-bottom: 40px;margin-top: 30px">
                            {% endif %}
                        {% else %}
                            <img src="{{ asset('recource/question.png') }}">
                            <p style="font-size: 24px;"> {{ q.descr }}</p>
                            <a class="btn btn-warning waves-effect waves-light"
                               href="{{ path('online_doctor_answers', {'id': q.childYes.id }) }}">Тийм</a>
                            <a class="btn btn-warning waves-effect waves-light"
                               href="{{ path('online_doctor_answers', {'id': q.childNo.id}) }}">Үгүй</a>
                        {% endif %}
                    {% endfor %}

                    <div style="margin-top: 50px">
                        <a href="{{ path('online_doctor') }}" style="color: #000"><i class="fa fa-arrow-left"></i> <b>Эхлэл
                                хэсэглүү буцах</b></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}