{% extends 'happyCmsBundle::base.html.twig' %}
{% block pageheader %}Мэдээ засах хэсэг{% endblock %}

{% block body %}
    {% include ':inc:flashmsg.html.twig' %}

    {% if content.img %}
        <img src="{{ localstatfolder }}{{ content.img }}" width="100">
    {% endif %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-success" type="submit" value="Засах" style="margin-top: 20px;margin-bottom: 30px"/>
    <a class="btn btn-default" href="{{ path('cms_content_index') }}" style="margin-top: 20px;margin-bottom: 30px">Зөвлөгөөний жагсаалт
        буцах</a>
    <a class="btn btn-default" href="{{ path('cms_content_show', {'id':content.id }) }}" style="margin-top: 20px;margin-bottom: 30px">Зөвлөгөөний
        дэлгэрэнгүй буцах</a>

    {{ form_end(edit_form) }}

{% endblock %}
{% block js %}
    <script type="text/javascript">
        //        $(document).on("ready", function () {
        CKEDITOR.replace('happy_cmsbundle_content_describe', {
            height: 300
        });

    </script>
{% endblock %}