<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="emneleg,эмнэлэг,сувилагч,эрүүл,мэнд,эмч"/>
    <link rel="shortcut icon" href="{{ asset('recource/ico.ico') }}" sizes="16x16">
    <title>Эмнэлэг.мн - Таны эрүүл мэндийн зөвлөгч - Emneleg.mn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('recource/MDBFree/css/bootstrap.min.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('recource/MDBFree/css/mdb.min.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('recource/MDBFree/css/style.css') }}" type="text/css" media="screen">
    {% block ogtag %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>

{% block main %}
{% endblock %}

<script type="text/javascript" src="{{ asset('recource/MDBFree/js/jquery-2.2.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('recource/MDBFree/js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('recource/MDBFree/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('recource/MDBFree/js/mdb.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('recource/MDBFree/js/emneleg.js') }}"></script>
{% block js %}
{% endblock %}

{% block modal %}
{% endblock %}

</body>
</html>