<navbar class="navbar fixed-top navbar-toggleable-sm scrolling-navbar navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home_page') }}">
            <img src="{{ asset('recource/logo.png') }}" class="logo-size">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('web_nurse_index') }}" style="background-color: #31bdb6;color: #ffffff"><i class="fa fa-stethoscope"></i> Эмч дуудах</a>
                </li>
                {#{% if is_granted('ROLE_USER') %}#}
                    {#<li class="nav-item">#}
                        {#<a href="javascript:void(0);" class="user">#}
                                {#<img src="{{ asset('recource/user.png') }}">#}
                        {#</a>#}
                    {#</li>#}
                {#{% else %}#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link"#}
                           {#href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i> Нэвтрэх</a>#}
                    {#</li>#}
                {#{% endif %}#}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.facebook.com/Emnelegmn-103407000305985/?fref=ts"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" id="search"><i class="fa fa-search"></i></a>
                </li>
            </ul>
        </div>

        <a href="javascript:void(0);" class="nav-link dropdown burger-menu">
            <div id="burger-menu" class="open">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>

    </div>
    <div id="home-sub-menu" style="display: block">
        <div class="container">
            <div class="burger-sub-menu" >
                <a href="{{ path('medicals') }}"> <i class="fa fa-home"></i> Эмнэлгүүд</a>
                <a href="{{ path('advice') }}"> <i class="fa fa-plus-square"></i> Мэдээлэл</a>
                <a href="{{ path('web_nurse_index') }}"> <i class="fa fa-stethoscope"></i> Эмч дуудлага</a>
                <a href="{{ path('online_doctor') }}"> <i class="fa fa-heartbeat"></i> Зөвлөх эмч</a>
                <a href="javascript:void(0);" class="sub-menu-resp"> <i class="fa fa-user"></i> Нэвтрэх</a>
                <a href="javascript:void(0);" id="search-res" class="sub-menu-resp"> <i class="fa fa-search"></i> Хайх</a>
            </div>
        </div>
    </div>

    <div id="search-tab">
        <div class="container">
            <form action="{{ path('medicals') }}" method="get" id="medicalNameSearch">
                <a href="javascript:void(0);" id="searchremove"><i class="fa fa-remove" ></i></a>
                <input name="q" placeholder="Хайх эмнэлэг бичнэ үү..." type="text" class="search-text"/>
            </form>
        </div>
    </div>

</navbar>
