{% if pagecount>1 %}
    {% set range=2 %}
    <nav class="projects-pagination">
        <ul class="pagination">
            {% if 1<page %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route,{'page':page-1 ,'type' : type}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">өмнөх</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">өмнөх</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item {% if 1==page %}active{% endif %}">
                <a class="page-link" href="{{ path(route,{'page':1,'type' : type}) }}">1</a>
            </li>
            {% if page>1+range+1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
            {% endif %}
            {% if pagecount>2 %}
                {% for i in 2..pagecount-1 %}
                    {% if i==page %}
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">{{ i }}</a>
                        </li>
                    {% elseif page-range<=i and i<=page+range %}
                        <li class="page-item"><a class="page-link" href="{{ path(route,{'page':i,'type' : type}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page<pagecount-range-1 %}
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">...</a></li>
            {% endif %}
            <li class="page-item {% if pagecount==page %}active{% endif %}">
                <a class="page-link" href="{{ path(route,{'page':pagecount,'type' : type}) }}">{{ pagecount }}</a>
            </li>
            {% if pagecount>page %}

                <li class="page-item">
                    <a class="page-link" href="{{ path(route,{'page':page+1,'type' : type}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">дараах</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next" href="javascript:void(0)" title="дараах">»</a>
                </li>
            {% endif %}
            {% if count is defined %}
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)">нийт {{ count }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
