{% extends '@happyCms/base.html.twig' %}
{% block pageheader %} {{ typename }} ангилал дахь асуултууд{% endblock %}

{% block style %}
    <style>
        ul li {
            list-style: disc;
        }
    </style>
{% endblock %}

{% block body %}
    {% include ':inc:flashmsg.html.twig' %}


    <ul style="list-style: none;padding: 0;">
        <li>
            <a class="btn btn-success" href="{{ path('cms_online_doctor_new', {'typeid' : typeid} ) }}">Шинээр
                үүсгэх</a>
        </li>
    </ul>
    <div>
        <ul>
            {% for key, con in questions %}
                {% set key = key + 1 %}
                <li {% if con.isFirst == 1 %}style="color: red"{% endif %} {% if con.isLast == 1 %}style="color: #a559b8"{% endif %}>
                    <p> {{ key }}. {{ con.descr }}
                        <a href="{{ path('cms_online_doctor_update', { 'id': con.id , 'typeid': typeid}) }}"
                           class="btn btn-default btn-xs"
                           title="засах">
                            <i class="glyphicon glyphicon-edit"></i></a>

                        <a class="btn btn-default btn-xs"
                           href="{{ path('cms_online_doctor_new', {'typeid' : typeid,'parentid': con.id} ) }}"> <i
                                    class="glyphicon glyphicon-plus"></i></a>
                        {#<a href="{{ path('cms_online_doctor_delete', { 'id': con.id , 'typeid': typeid}) }}"#}
                        {#class="btn btn-default btn-xs">#}
                        {#<i class="glyphicon glyphicon-trash"></i></a>#}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}


