{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('recource/css/swiper.min.css') }}">
    <style>
        .nav-tabs .nav-link {
            color: #ffffff;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #ffffff;
            background-color: #ff7020;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            color: #ffffff;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
            background-color: #ff7020;
        }

        .nav-justified .nav-item {
            border: 2px solid #ffffff;
            margin-left: 5px;
        }

        .nav-justified .nav-item:hover {
            color: #ffffff;
            background-color: #ff7020;
        }
    </style>
{% endblock %}
{% block ogtag %}
    <meta property="og:url" content="http://emneleg.mn/home"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Эмнэлэг.мн"/>
    <meta property="og:description"
          content="Бид та бүхэнд монгол улсад үйл ажиллагаа явуулж буй эмнэлгүүдийн хаяг байршил болон төлбөрийн мэдээллийг хүргэх болно. Мөн дуудлагын сувилагчийн үйлчилгээ болон эрүүл мэндийн зөвлөгөөг манай сайтаас авч байна. Биднийг сонгон үйлчлүүлсэн та бүхэнд баярлалаа."/>
    <meta property="og:image" content="http://emneleg.mn{{ asset('recource/share.png') }}"/>
{% endblock %}
{% block body %}

    <!-- Banner Slider -->

    <div id="carousel-example-1z" class="carousel slide carousel-fade top-slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for key, entity in  banner %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}">
                    <img src="{{ localstatfolder }}/{{ entity.img }}" class="slide-img">
                </div>
            {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">өмнөх</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">дараах</span>
        </a>
        <div class="container">
            <div class="banner-menu">
                <a href="{{ path('medicals') }}"><i class="fa fa-home"></i> Эмнэлгүүд</a>
                <a href="{{ path('advice') }}"><i class="fa fa-plus-square"></i> Мэдээлэл</a>
                <a href="{{ path('web_nurse_index') }}"><i class="fa fa-stethoscope"></i> Сувилагч</a>
                <a href="{{ path('online_doctor') }}"><i class="fa fa-heartbeat"></i> Цахим эмч</a>

            </div>
        </div>
    </div>

    <!-- Medical Centers -->

    <div class="medical-background" style="padding: 0;padding-top: 60px">
        <div class="container">
            <div class="home-header">
                <h4><i class="fa fa-home"></i> Онцлох эмнэлгүүд</h4>
            </div>

            <div class="swiper-container swiper1" style="margin-top: 30px">
                <div class="swiper-wrapper">
                    {% for m in medical[0:3] %}
                        <div class="swiper-slide">
                            {% include  '@happyWeb/inc/inc-medical.html.twig' with { 'isWifi': m.isWifi, 'isCard': m.isCard , 'isCar': m.isParking, 'headline': m.headline, 'img': m.photo, 'phone': m.phone, 'id': m.id, 'name' : m.name } %}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="swiper-container swiper2">
                <div class="swiper-wrapper">
                    {% for m in medical[3:6] %}
                        <div class="swiper-slide" style="margin-top: 30px">
                            {% include  '@happyWeb/inc/inc-medical.html.twig' with {'isWifi': m.isWifi, 'isCard': m.isCard , 'isCar': m.isParking, 'headline': m.headline, 'img': m.photo, 'phone': m.phone, 'id': m.id, 'name' : m.name } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Medical Search -->

    <div class="medical-search" style="margin-top: 20px">
        {% include  '@happyWeb/inc/inc-medical-search.html.twig' %}
    </div>


    <!-- Nurse  -->

    <div class="medical-background" style="padding: 0;padding-top: 30px">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: left">
                <img src="{{ asset('recource/banner1.jpg') }}" style="margin-bottom: 20px;width: 100%">
                <img src="{{ asset('recource/banner2.jpg') }}" style="margin-bottom: 20px;width: 100%">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: left">
                <img src="{{ asset('recource/banner1.jpg') }}" style="margin-bottom: 20px;width: 100%">
                <img src="{{ asset('recource/banner2.jpg') }}" style="margin-bottom: 20px;width: 100%">
            </div>
        </div>
    </div>

    <!-- Advice -->
    <br>
    <div class="project-type-background" style="padding: 0;margin-bottom: 50px">
        <div class="container">
            <div class="home-header" style="text-align: center;margin-bottom: 30px">
                <h4><i class="fa fa-plus-square"></i> Шинэ мэдээлэл</h4>
            </div>
            <div class="swiper-container swiper4">
                <div class="swiper-wrapper">
                    {% for e in advice %}
                        <div class="swiper-slide">
                            {% include '@happyWeb/inc/inc-advice.html.twig' with{'createdDate': e.createdDate, 'likecount': e.likeCount, 'img': e.img , 'title': e.name, 'headline': e.headline ,'id' : e.id} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block js %}
        <script src="{{ asset('recource/js/swiper.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                medicalnum = 3;
                if ($(window).width() > 1072) {
                    medicalnum = 3;
                } else if ($(window).width() <= 1072 && $(window).width() > 768) {
                    medicalnum = 3;
                }
                else if ($(window).width() <= 768) {
                    medicalnum = 2;
                }

                newsnum = 4;
                if ($(window).width() > 1072) {
                    newsnum = 4;
                } else if ($(window).width() <= 1072 && $(window).width() > 768) {
                    newsnum = 2;
                }
                else if ($(window).width() <= 768) {
                    newsnum = 1;
                }

                var swiper1 = new Swiper('.swiper1', {
                    pagination: '.swiper-pagination1',
                    paginationClickable: true,
                    spaceBetween: 30,
                    slidesPerView: 3,
                    autoplay: 100,
                    autoplayDisableOnInteraction: false
                });
                var swiper2 = new Swiper('.swiper2', {
                    pagination: '.swiper-pagination2',
                    paginationClickable: true,
                    spaceBetween: 30,
                    slidesPerView: 3,
                    autoplay: 100,
                    autoplayDisableOnInteraction: false
                });

                var swiper4 = new Swiper('.swiper4', {
                    pagination: '.swiper-pagination2',
                    paginationClickable: true,
                    spaceBetween: 30,
                    slidesPerView: newsnum,
                    autoplay: 2500,
                    autoplayDisableOnInteraction: false
                });


                medicalnum1 = 10;
                if ($(window).width() > 1072) {
                    medicalnum1 = 10;
                } else if ($(window).width() <= 1072 && $(window).width() > 768) {
                    medicalnum1 = 4;
                }
                else if ($(window).width() <= 768) {
                    medicalnum1 = 2;
                }

                var swiper = new Swiper('.swipermainmedtype', {
                    slidesPerView: medicalnum1,
                    spaceBetween: 30,
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        hide: true
                    },
                    freeMode: true
                });


                $('input[type="checkbox"]').change(function () {
                    $('#medicalSearch').submit();
                });
            });
        </script>
    {% endblock %}
