<div class="advice-box">

    <a href="{{ path('advice_detail', {'id': id}) }}" class="advice-box-img"
       style="{% if small is defined %}height: 50px;{% endif %}background-image: url('{% if img %}/{{ localstatfolder }}{{ img }}{% else %}{{ asset('recource/images/blog1.jpg') }}{% endif %}');">
    </a>

    <div class="advice-box-txt">
        <h6 style="font-size: 14px;{% if small is defined %}margin-bottom: 0;{% endif %}">{{ title }}</h6>
        {% if small is not defined %}
            <p>{% if headline|length > 100 %}{{ headline|slice(0, 100) ~ '...' }}{% else %}{{ headline }}{% endif %}
            </p>
        {% endif %}
        <i class="fa fa-thumbs-o-up advice-thumb"></i>
        <i class="advice-thumb-count">{% if likecount %}{{ likecount }}{% else %}0{% endif %}</i>
        <a class="advice-box-more" href="{{ path('advice_detail', {'id': id}) }}">Дэлгэрэнгүй</a>
    </div>
</div>