{% extends '@happyCms/base.html.twig' %}
{% block pageheader %}Эмнэлэлгийн төрөл засах хэсэг{% endblock %}

{% block body %}
    {% if img %}
        <p>Web зураг</p>
        <img src="{{ localstatfolder }}{{ img }}" width="50">
    {% endif %}

    {% if imgActive %}
        <p>Active зураг</p>
        <img src="{{ localstatfolder }}{{ imgActive }}" width="50">
    {% endif %}

    {% if imgMobile %}
        <p>Mobile зураг</p>
        <img src="{{ localstatfolder }}{{ imgMobile }}" width="50">
    {% endif %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-success" type="submit" value="Хадгалах"/>
    <a style="margin-bottom: 20px;margin-top: 20px;" class="btn btn-default"
       href="{{ path('cms_medical_type_index') }}">Эмнэлгийн төрөл
        жагсаалт буцах</a>

    {{ form_end(edit_form) }}
{% endblock %}
