{% extends '@happyCms/base.html.twig' %}
{% block pageheader %}Сувилагч тохиргоо хэсэг{% endblock %}

{% block body %}
    {% include ':inc:flashmsg.html.twig' %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-success" type="submit" value="Хадгалах"/>
    <a style="margin-bottom: 20px;margin-top: 20px;" class="btn btn-default" href="{{ path('cms_nurse_index') }}">Сувилагч
        жагсаалт буцах</a>
    <a style="margin-bottom: 20px;margin-top: 20px;" class="btn btn-default"
       href="{{ path('cms_nurse_show', {'id' : nurse.id}) }}">Сувилагч дэлгэрэнгүй буцах</a>
    {{ form_end(edit_form) }}
{% endblock %}
