{% extends '@happyCms/base.html.twig' %}
{% block pageheader %}Сувилагчийн жагсаалт{% endblock %}
{% block body %}
    {% include ':inc:flashmsg.html.twig' %}
    <style>
        ul li {
            display: inline-block;
        }
    </style>
    <ul style="list-style: none;padding: 0;">
        <li>
            <a href="javascript:void(0)" id="searchlink">Хайлт &DownArrowUpArrow;</a>
        </li>
    </ul>

    <fieldset style="border:1px solid #ddd;{%if search%}display:block{%else%}display:none;{% endif %}" id="searchpad">
        {% include '@happyCms/inc/search.html.twig' with {'route' : 'cms_nurse_index'} %}
    </fieldset>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Зураг</th>
            <th>Нэр</th>
            <th>Утас</th>
            <th>Үүсгэсэн огноо</th>
            <th>Өөрчилсөн огноо</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for k ,con in nurse %}

            {% set k = k + 1 %}
            <tr>
                <td>{{ k }}</td>
                <td><img src="{% if con.photo %}/{{ localstatfolder }}{{ con.photo }}{% else %}{{ asset('recource/nurse.png') }}{% endif %}" width="100"></td>
                <td>{{ con.name }}</td>
                <td>
                    {{ con.phone }}
                </td>
                <td>{{ con.createdDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ con.updatedDate|date('Y-m-d H:i:s') }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('cms_nurse_qpay_index' , {'id': con.id}) }}" title="QR"><i
                                        class="glyphicon glyphicon-qrcode"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('cms_nurse_config' , {'id': con.id}) }}" title="тохиргоо"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('cms_nurse_show', { 'id': con.id }) }}" title="дэлгэрэнгүй"><i
                                        class="glyphicon glyphicon-folder-open"></i></a>
                        </li>
                        <li>
                            <a class="btn btn-default"
                               href="{{ path('cms_nurse_update', { 'id': con.id }) }}" title="засах"><i
                                        class="glyphicon glyphicon-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@happyCms/inc/page.html.twig' with {'route' : 'cms_nurse_index'} %}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchlink').click(function () {
                $('#searchpad').toggle();
            });
        });
    </script>
{% endblock %}
